.tile {
  flex: 1;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.correct {
  background-color: #528d4e;
}

.almost {
  background-color: #b49f39;
}

.error {
  background-color: #3a393c;
}
