.header {
    height: 65px;
    width: 100%;
    margin: 0;
    /* padding: 0px 20px; */
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-title {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 32px;
    text-align: center;
  }